

<p>hi <%=@room.user.username%></p>

Your room is been authorized by the admin you can check by login and click the link my_rooms

<h3><%=@room.name%>
	<%=@room.address%>
</h3>

<b>Thank you for adding room</b>
