<h3>Rooms </h3>


<ol>
<%@rooms.each do |room|%>
	<%if room.is_authorized != false%>
		<li><%=link_to room.name,room_path(room.id)%></li>
	<%end%>
<%end%>
</ol>
<%if can? :create,Room.new%>
<%=link_to "Add room",new_room_path%>
<%end%>